<div class="container" style="text-align:center; margin-bottom: 75px; margin-top: 75px ">
    <div class="row">
        <div class="col">
            <h1>ยก Bienvenido/a !</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p style="text-align: center;"><a href="/admin/login" class="btn btn-sm btn-dark"> Cerrar sesion
        <i class="fa fa-sign-out"></i></a></p>
    </div>

</div>